@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/******************************** Global ********************************/

:root {
  --black: #212121;
  --cool-white: #f6f6f6;
  /*--orange: #ff5e00;*/
  --orange: #212121;
  --title-content: 10rem;
  --content: 2.5rem;
  --description: 1.5rem;
  --title-content-laptop: 7rem;
  --content-laptop: 1.5rem;
  --description-laptop: 1rem;
  --title-content-mobile: 5.5rem;
  --content-mobile: 3.5rem;
  --description-mobile: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--cool-white);
  background: var(--cool-white);
}

.box-svg {
  margin-top: 20px;
  font-size: 10rem !important;
}

/********** Scrollbar **********/

::-webkit-scrollbar {
  display: none;
}

.black {
  color: var(--black);
}

.hide {
  display: none !important;
}

/******************************** Mobile Optimization ********************************/
@media only screen and (max-width: 1023px) {
  .stop-animation {
    display: inline;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--cool-white);
    width: 10rem !important;
  }

  .hide-object {
    display: inline;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--cool-white);
    width: 10rem !important;
  }

  body {
    width: 100vw;
  }

  /******************************* Navbar Mobile ********************************/

  .menu {
    display: none !important;
  }

  /******************************* 3D Object Mobile ********************************/

  .main-container {
    display: flex;
    width: 100% !important;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .object-container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .object-container iframe {
    width: 100% !important;
    height: 100% !important;
  }

  .object-container .object {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .object-container .buttons {
    display: flex;
    height: 5%;
    justify-content: center;
    gap: 20px;
  }

  .full-screen {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    z-index: 999;
  }

  .full-object {
    display: none !important;
  }

  .object-container h2 {
    text-align: center;
    color: var(--cool-white);
    font-size: var(--content-mobile);
    margin-bottom: 5rem;
  }

  .details-container {
    width: 100% !important;
    height: 15rem !important;
  }

  .details-container h1 {
    font-size: var(--title-content-mobile) !important;
  }

  .details-container h2 {
    font-size: var(--content-mobile) !important;
  }

  /******************************* About Mobile ********************************/

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }

  .about-content {
    width: 100% !important;
  }

  .about-content h1 {
    text-align: center;
    font-size: var(--content-mobile) !important;
    margin-bottom: 0rem !important;
  }

  .about-content-paragraph {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between !important;
    align-items: center;
  }

  .about-content-paragraph p {
    margin-top: 10px;
    font-size: 1.5rem !important;
    width: 100% !important;
    padding: 0px 20px;
  }

  .about-content-paragraph .image-container {
    width: 18rem !important;
    height: 18rem !important;
    margin-bottom: 25px;
  }

  .about-content-paragraph .image-container .image {
    width: 18rem !important;
    height: 18rem !important;
    border-radius: 50%;
    background-color: var(--black);
  }

  /******************************* Technology Mobile ********************************/

  .technology-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 6rem;
    background-color: var(--black);
    height: 150rem !important;
  }

  .technology-container h1 {
    margin-top: 3rem;
    font-size: var(--content-mobile) !important;
    color: var(--cool-white);
  }

  .technology-container-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .technology-container-display button {
    background-color: var(--black);
    border: 1px solid var(--cool-white);
    color: var(--cool-white);
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    transition: all 0.5s;
    min-width: 8rem;
    min-height: 2rem;
    width: 8rem;
    height: 4rem;
  }

  .technology-container-display button:hover {
    cursor: pointer;
    background-color: var(--cool-white);
    color: var(--black);
    border: var(--black);
    transform: scale(1.1);
  }

  .technology-container-technology {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid var(--cool-white);
    width: 60%;
    height: 100%;
    color: var(--cool-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  .technology-container-technology-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10rem !important;
    width: 28%;
    height: auto;
    margin: 2rem 0 !important;
  }

  .technology-container-technology-icons p {
    margin-top: 1rem;
    font-size: 1rem;
  }

  /******************************* Projects Mobile ********************************/

  .projects-swiper-container {
    margin-bottom: 25rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  .projects-container h1 {
    text-align: center;
    font-size: var(--content-mobile) !important;
    color: var(--black);
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .project-card {
    background-color: var(--black);
    color: var(--cool-white);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40rem !important;
    border-radius: 10px;
    margin-bottom: 3rem !important;
  }

  .swiper-slide {
    margin-top: 0rem !important;
    margin-bottom: 3rem;
    font-size: 18px;
    background: #fff;
    background-color: var(--cool-white);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .swiper-slide h1,
  .swiper-slide p {
    margin: 10px;
  }

  .swiper-slide h1 {
    font-size: 1rem !important;
  }

  .title-container-project {
    display: flex;
    height: 6rem;
    align-items: center;
  }

  .swiper-slide p {
    font-size: 16px !important;
    height: 4rem;
  }

  .swiper-slide img {
    border-radius: 5px;
    width: 95%;
    height: 28rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .bottom {
    position: relative;
    margin-left: 10px;
  }

  .project-stack {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  /******************************* Contact mobile ********************************/

  .contacts-container {
    position: relative;
    display: flex;
    background-color: var(--black);
    color: var(--cool-white);
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
    margin-top: 6rem !important;
  }

  .contact-details h1 {
    font-size: var(--content-mobile) !important;
    margin-bottom: 6rem;
  }

  .contact-links {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10rem !important;
    gap: 5rem 10rem !important;
    margin-bottom: 6rem;
  }

  .contact-list-container {
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    text-decoration: none;
    color: var(--cool-white);
  }

  .contact-list-container p {
    font-size: var(--description);
  }

  .contact-list-container:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  /******************************* Footer mobile ********************************/
  .footer {
    padding: 10px;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--description);
    color: var(--cool-white);
    background-color: rgb(22, 22, 22);
    height: 2.5rem;
  }
}

/******************************** Normal Laptop Optimization (1920 x 1080)********************************/

@media (min-width: 1024px) and (max-width: 2000px) {
  .stop-animation {
    display: none !important;
  }

  .main-container {
    display: flex;
    align-items: center;
  }

  .hide-object {
    display: block;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--cool-white);
    width: 10rem !important;
  }

  /******************************* 3D Object Laptop ********************************/

  .object-container {
    background-color: rgba(0, 0, 0, 0.466);
    width: 50% !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .object-container div {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
  }

  .object-container canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .object-container h2 {
    text-align: center;
    color: var(--cool-white);
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .details-container {
    width: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .details-container h1 {
    font-size: var(--title-content-laptop) !important;
  }

  .details-container h2 {
    color: var(--content-laptop);
    font-size: 2rem !important;
    text-align: center;
  }

  .details-container h3 {
    font-size: 1.5rem;
  }

  /******************************* Navbar laptop ********************************/

  .menu {
    color: var(--orange);
    width: 100%;
    position: relative;
    top: 0%;
    display: flex;
    padding: 0px;
    background-color: var(--black);
  }

  .menu p {
    font-size: 1.2rem !important;
    letter-spacing: 1px;
    line-height: 60px !important;
  }

  .menu .home-container {
    display: flex;
    width: 60%;
  }

  .home-container p {
    font-size: 1.8rem !important;
    margin-left: 20px;
  }

  .menu .other-container {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  /******************************* About laptop ********************************/

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--black);
  }

  .about-content {
    width: 90% !important;
    height: 100vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about-content h1 {
    text-align: center;
    font-size: var(--title-content-laptop) !important;
  }

  .about-content-paragraph {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .about-content-paragraph p {
    font-size: var(--content-laptop) !important;
    width: 40%;
  }

  .about-content-paragraph .image-container {
    width: 18.75rem !important;
    height: 18.75rem !important;
  }

  .about-content-paragraph .image-container .image {
    width: 18.75rem !important;
    height: 18.75rem !important;
    border-radius: 50%;
    background-color: var(--black);
  }

  /******************************* Technology laptop ********************************/

  .technology-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh !important;
    align-items: center;
    background-color: var(--black);
  }

  .technology-container h1 {
    font-size: var(--title-content-laptop) !important;
    color: var(--cool-white);
  }

  .technology-container-display {
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }

  .technology-container-display button {
    background-color: var(--black);
    border: 1px solid var(--cool-white);
    color: var(--cool-white);
    border-radius: 5px;
    font-size: var(--description-laptop) !important;
    padding: 1rem;
    margin-top: 0 !important;
    margin-right: 2rem;
    transition: all 0.5s;
    min-width: 8rem !important;
    min-height: 4rem !important;
    width: 8rem !important;
    height: 4rem !important;
  }

  .technology-container-display button:hover {
    cursor: pointer;
    background-color: var(--cool-white);
    color: var(--black);
    border: var(--black);
    transform: scale(1.1);
  }

  .technology-container-technology {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid var(--cool-white);
    width: 60%;
    height: 100%;
    color: var(--cool-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .technology-container-technology-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12rem !important;
    width: 28%;
    height: auto;
    margin: 4rem 0;
    flex-direction: column;
  }

  .technology-container-technology-icons p {
    margin-top: 1rem;
    font-size: var(--description-laptop) !important;
  }

  /******************************* Projects laptop ********************************/

  .projects-swiper-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 16rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-container h1 {
    text-align: center;
    font-size: var(--title-content-laptop) !important;
    color: var(--black);
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .project-card {
    background-color: var(--black);
    color: var(--cool-white);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 42rem !important;
    border-radius: 10px;
  }

  .swiper-slide {
    margin-top: 0rem !important;
    margin-bottom: 3rem !important;
    font-size: 18px;
    background: #fff;
    background-color: var(--cool-white);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .swiper-slide h1,
  .swiper-slide p {
    margin: 10px;
  }

  .swiper-slide h1 {
    font-size: 1.5rem !important;
  }

  .title-container-project {
    display: flex;
    height: 6rem;
    align-items: center;
  }

  .swiper-slide p {
    font-size: var(--description-laptop) !important;
    height: 3.9rem !important;
  }

  .swiper-slide img {
    border-radius: 5px;
    width: 95%;
    height: 28rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .bottom {
    position: relative;
    margin-left: 10px;
  }

  .project-stack {
    display: flex;
    gap: 20px;
    font-size: 1.5rem !important;
  }

  /******************************* Contact laptop ********************************/

  .contacts-container {
    display: flex;
    background-color: var(--black);
    color: var(--cool-white);
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 6rem !important;
  }

  .contact-details h1 {
    font-size: var(--title-content-laptop) !important;
    margin-bottom: 6rem;
  }

  .contact-links {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-around !important;
    font-size: 12rem !important;
    gap: 0rem 10rem;
    margin-bottom: 6rem;
  }

  .contact-list-container {
    display: flex;
    flex-direction: column;
  }

  .contact-list-container p {
    font-size: var(--description);
  }

  /******************************* Footer laptop ********************************/
  .footer {
    padding: 10px;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--description);
    color: var(--cool-white);
    background-color: rgb(22, 22, 22);
    height: 2.5rem;
  }
}

/******************************** HighRes Laptop Optimization ( >= 2560 x 1440)********************************/

.master-container {
  display: flex;
  flex-direction: column;
}

.stop-animation {
  display: none;
}

.main-container {
  display: flex;
  align-items: center;
  border-bottom: 5px solid var(--black);
  color: var(--black);
}

.hide-object {
  display: inline;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  color: var(--black);
  background-color: var(--cool-white);
  width: 10rem !important;
  transition: all 0.5s;
}

.hide-object:hover {
  cursor: pointer;
  background-color: var(--black);
  border: 1px solid var(--cool-white);
  color: var(--cool-white);
}

.full-object {
  display: inline;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  color: var(--black);
  background-color: var(--cool-white);
  width: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.full-object:hover {
  cursor: pointer;
  background-color: var(--black);
  border: 1px solid var(--cool-white);
  color: var(--cool-white);
}

/******************************* 3D Object 4k Laptop ********************************/

.object-container {
  background-color: var(--black);
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.object-container .object {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.object-container .buttons {
  display: flex;
  height: 5%;
  justify-content: center;
  gap: 20px;
}

.full-screen {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  z-index: 999;
}

.object-container iframe {
  width: 100%;
  height: 100%;
}

.object-container div {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

.object-container h2 {
  text-align: center;
  color: var(--cool-white);
  font-size: 3rem;
  margin-bottom: 5rem;
}

.object-container h1 {
  color: var(--cool-white);
  text-align: center;
}

.details-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--black);
}

.details-container h1 {
  font-size: var(--title-content);
}

.details-container h2 {
  color: var(--orange);
  font-size: var(--content);
  text-align: center;
}

.details-container h3 {
  font-size: 1.5rem;
}

.canvas-warning {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  font-size: var(--description);
  color: rgb(253, 176, 176);
  font-weight: 500;
}

.canvas-warning svg {
  font-size: 2rem;
}

/******************************* Navbar 4k laptop ********************************/

.menu {
  width: 100%;
  position: fixed !important;
  top: 0%;
  display: flex;
  padding: 0px;
  background-color: rgba(117, 117, 117, 0.5);
  z-index: 998;
}

.menu a {
  color: var(--orange);
  font-size: 1.2rem;
  letter-spacing: 3px;
  line-height: 60px;
  text-decoration: none;
}

.menu .home-container {
  display: flex;
  width: 50%;
  font-weight: 700;
}

.home-container a {
  font-size: 2rem;
  margin-left: 20px;
  color: var(--cool-white);
  transition: all 0.5s;
  position: relative;
}

.home-container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.5rem;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.home-container a:hover:after {
  width: 100%;
  left: 0;
}

.menu .other-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  text-transform: uppercase;
}

.other-container a {
  position: relative;
  transition: all 0.5s;
}

.other-container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.5rem;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--orange);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.other-container a:hover:after {
  width: 100%;
  left: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/******************************* About 4k laptop ********************************/

.about-content {
  padding-top: 3rem;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-content h1 {
  text-align: center;
  font-size: var(--title-content);
  width: auto;
}

.about-content-title {
  height: 10%;
}

.about-content-paragraph-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-paragraph {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-content-paragraph p {
  font-size: var(--content);
  width: 40%;
}

.about-content-paragraph .image-container {
  width: 37.5rem;
  height: 37.5rem;
}

.about-content-paragraph .image-container .image {
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 50%;
  background-color: var(--black);
}

/******************************* Technology 4k laptop ********************************/

.technology-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  background-color: var(--black);
}

.technology-container h1 {
  margin-bottom: 3rem;
  font-size: var(--title-content);
  color: var(--cool-white);
}

.technology-container-display {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.technology-container-display button {
  background-color: var(--black);
  border: 1px solid var(--cool-white);
  color: var(--cool-white);
  border-radius: 5px;
  font-size: var(--description);
  padding: 1rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  transition: all 0.5s;
  min-width: 12rem;
  min-height: 6rem;
  width: 12rem;
  height: 6rem;
}

.technology-container-display button:hover {
  cursor: pointer;
  background-color: var(--cool-white);
  color: var(--black);
  border: var(--black);
  transform: scale(1.1);
}

.technology-container-technology {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid var(--cool-white);
  width: 80%;
  height: 100%;
  color: var(--cool-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.technology-container-technology-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14rem;
  width: 30%;
  height: auto;
  margin: 3rem 0;
  flex-direction: column;
}

.technology-container-technology-icons p {
  margin-top: 1rem;
  font-size: var(--description);
}

/******************************* Projects 4k laptop ********************************/

.featured-container {
  height: 100vh;
  padding-top: 3rem;
}

.projects-swiper-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.projects-container h1 {
  font-size: var(--title-content);
  color: var(--black);
}

.projects-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.project-card {
  background-color: var(--black);
  color: var(--cool-white);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50rem;
  border-radius: 10px;
  transition: all 0.5s;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #212121c5;
  cursor: pointer;
}

.swiper-slide {
  margin-bottom: 3rem;
  font-size: 18px;
  background: #fff;
  background-color: var(--cool-white);
  align-items: center;
  justify-content: center;
  display: flex;
}

.swiper-slide h1,
.swiper-slide p {
  margin: 10px;
}

.swiper-slide h1 {
  font-size: 2.2rem;
}

.title-container-project {
  display: flex;
  height: 6rem;
  align-items: center;
}

.swiper-slide p {
  font-size: var(--description);
  height: 11rem;
}

.swiper-slide img {
  border-radius: 5px;
  width: 95%;
  height: 28rem;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.bottom {
  position: relative;
  margin-left: 10px;
}

.project-stack {
  display: flex;
  gap: 20px;
  font-size: 2.5rem;
}

/******************************* Contact 4k laptop ********************************/

.contacts-container {
  padding-top: 6rem;
  display: flex;
  background-color: var(--black);
  color: var(--cool-white);
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact-details h1 {
  font-size: var(--title-content);
  margin-bottom: 6rem;
}

.contact-links {
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16rem;
  gap: 0rem 10rem;
  margin-bottom: 6rem;
}

.contact-list-container {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--cool-white);
}

.contact-list-container p {
  font-size: var(--description);
}

.contact-list-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/******************************* Footer 4k laptop ********************************/
.footer {
  padding: 10px;
  position: fixed;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--description);
  color: var(--cool-white);
  background-color: rgb(22, 22, 22);
  height: 2.5rem;
}

/******************************* Small Height Windows ********************************/

@media (max-height: 950px) {
  .technology-container,
  .featured-container {
    padding-top: 3rem;
    min-height: 70rem;
  }

  .about-content {
    min-height: 40rem;
    max-height: 100vh;
  }

  .contacts-container {
    padding-top: 3rem;
    min-height: 30rem;
  }
}
