@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair Display+Display:wght@400;600;700&display=swap");

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
  font-family: "Montserrat", sans-serif;
  color: var(--font-color-black);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --hero-title-phone: 2.5rem;
  --hero-title-pc: 6.563rem;
  --hero-description-phone: 0.875rem;
  --hero-description-pc: 1.125rem;
  --title-phone: 1.875rem;
  --title-pc: 3.125rem;
  --button-text-phone: 0.875rem;
  --descritpion-phone: 0.875rem;
  --descritpion-pc: 1.125rem;
  --font-color-black: #484848;
  --font-color-white: #fff;
  --section-gap-phone-top: 6.25rem;
  --section-gap-phone: 7.5rem;
  --section-gap-pc: 10.25rem;
  --section-gap-4k: 18rem;
}

/******************************* View Port 390 x 844 *********************************/

.copyright {
  color: var(--font-color-white);
  position: fixed;
  top: 98.1%;
  font-size: var(--descritpion-phone);
  border-radius: 1px;
  z-index: 100;
}

.underglow {
  background-color: #ff048c;
  width: 50px;
  height: 2px;
  margin-top: 10px;
}

.blue-gradient {
  background: linear-gradient(112.94deg, #0267ff -66.57%, #d99aff 101.36%);
}

.blue-alt-gradient {
  background: linear-gradient(201.69deg, #00d3ad -22.72%, #7003fb 121.76%);
}

.green-gradient {
  background: linear-gradient(112.94deg, #02ff86 -66.57%, #9ac8ff 101.36%);
}

.yellow-gradient {
  background: linear-gradient(112.94deg, #ff8989 -66.57%, #ffe791 101.36%);
}

.pink-gradient {
  background: linear-gradient(112.94deg, #c489ff -66.57%, #ff9191 101.36%);
}

/******************************* Top Section Phone *********************************/

.top-container {
  background-image: url(./assets/Rounded-Rectangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 552px;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--section-gap-phone-top);
}

.top-nav-phone {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-nav-menu-logo-container {
  margin: 10px;
}

.top-nav-menu-logo-container:hover {
  cursor: pointer;
}

.top-nav-logo-container {
  margin-left: 5px;
}

.hidden {
  display: none !important;
}

.top-nav-menu-container {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: #f8f9fad8;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: var(--title-phone);
  color: var(--font-color-black);
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

.top-nav-menu-pc {
  display: none;
}

.top-nav-menu-close {
  position: absolute;
  top: 2%;
  left: 5%;
  color: rgb(252, 58, 58);
}

.top-nav-menu-option {
  text-decoration: none;
  color: var(--font-color-black);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.hero-title {
  width: 100%;
  font-size: var(--hero-title-phone);
  color: var(--font-color-white);
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.hero-description {
  color: var(--font-color-white);
  text-align: center;
  font-size: var(--hero-description-phone);
  width: 70%;
  margin-bottom: 4rem;
}

.hero-btn {
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 50px;
  border: none;
  color: #4d46e2;
  background-color: #fff;
  font-weight: 600;
  font-size: var(--hero-description-phone);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 1s;
}

.hero-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/******************************* Skills Section Phone *********************************/
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--section-gap-phone);
}

.skills-title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: var(--title-phone);
  font-weight: 700;
  color: var(--font-color-black);
}

.skills-buttons {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 44px;
  margin-top: 2.125rem;
}

.skills-buttons-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-click {
  font-size: 0.8rem;
}

.skills-btn {
  width: 4.063rem;
  height: 4.063rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-btn:hover {
  cursor: pointer;
}

.skills-subtitle {
  color: var(--font-color-black);
  font-size: var(--descritpion-phone);
  margin-top: 10px;
}

.frontend {
  background: linear-gradient(112.94deg, #0267ff -66.57%, #d99aff 101.36%);
}

.frontEndLogo {
  width: 2.188rem;
  height: 1.688rem;
}

.software {
  background: linear-gradient(112.94deg, #ff8989 -66.57%, #ffe791 101.36%);
}

.backend {
  background: linear-gradient(112.94deg, #02ff86 -66.57%, #9ac8ff 101.36%);
}

.dbms {
  background: linear-gradient(112.94deg, #c489ff -66.57%, #ff9191 101.36%);
}

.skills-close {
  width: 100%;
  position: relative;
}

.skills-display {
  border-radius: 5px;
  min-height: 454px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills-display-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
  margin: 2rem;
}

.skills-logo-container {
  color: var(--font-color-white);
  font-size: 2.5rem;
}

.skills-display-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--descritpion-phone);
  margin-bottom: 10px;
  color: var(--font-color-black);
}

.skills-display-title {
  text-align: center;
  color: var(--font-color-white);
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.7rem;
}

.skills-display-subtitle {
  color: var(--font-color-black);
  text-align: center;
  font-size: var(--descritpion-phone);
  margin-top: 0.7rem;
  width: 60%;
}

.skills-menu-close {
  position: absolute;
  font-size: 25px;
  color: #fff;
}

.skills-display-close {
  color: var(--font-color-black);
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}

/******************************* Projects Section Phone *********************************/
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: var(--title-phone);
  font-weight: 700;
  color: var(--font-color-black);
  margin-bottom: 2.5rem;
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--section-gap-phone);
}

.project-card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.project-card-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.project-card-image-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 20px;
}

.project-card-img {
  width: 50%;
  height: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.project-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 235px;
  margin-bottom: 2.5rem;
  padding: 10px;
}

.project-btn {
  display: flex;
  width: 8.063rem;
  height: 2.25rem;
  gap: 10px;
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: var(--descritpion-phone);
  font-weight: 600;
  padding: 5px;
}

.project-description {
  height: 90%;
  width: 100%;
  margin-bottom: 10px;
}

.stack {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/******************************* About Section Phone *********************************/
.about-container {
  margin-bottom: var(--section-gap-phone);
}

.about-title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: var(--title-phone);
  font-weight: 700;
  color: var(--font-color-black);
  margin-bottom: 2.5rem;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-display-pic {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

.about-content-description {
  margin: 20px;
  text-align: left;
  font-size: var(--descritpion-phone);
}

.about-content-model-frame {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  gap: 1rem;
  padding: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid rgb(210, 210, 210);
}

.about-content-model-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  width: 95%;
  color: #0267ff;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
  border-top: 1px solid rgb(210, 210, 210);
  height: 30rem;
}

.about-content-model-cover-cube {
  color: #0267ff;
  font-weight: 700;
  font-size: 4rem;
}

.object-load-button {
  color: var(--font-color-white);
  font-size: 12px;
  border: none;
  border-radius: 10px;
  width: 7.063rem;
  height: 2.25rem;
  font-family: "Montserrat", sans-serif;
  transition: all 1s;
}

.object-load-button:hover {
  background: #f8f9fa;
  cursor: pointer;
  border: 1px solid #0267ff;
  color: var(--font-color-black);
}

.model-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: red;
  gap: 5px;
}

.model-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(255, 187, 0);
  gap: 5px;
}

/******************************* Contact Section Phone *********************************/

.contact-title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: var(--title-phone);
  font-weight: 700;
  color: var(--font-color-black);
  margin-bottom: 2.5rem;
}

.contact-container {
  background-image: url("./assets/Contact-Phone.svg");
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-content {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: var(--title-phone);
  font-weight: 700;
  margin-bottom: 36px;
}

.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact-btn {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-button-container {
  color: var(--font-color-white);
  position: relative;
  top: 20%;
  font-size: 2rem;
}

/************************************************************ View Port 1280 x 800 ************************************************************************************/

@media (min-width: 768px) {
  .underglow {
    background-color: #ff048c;
    width: 164px;
    height: 2px;
    margin-top: 10px;
  }

  .copyright {
    top: 97.5%;
    font-size: var(--descritpion-pc);
    padding: 2px;
  }

  .blue-gradient {
    background: linear-gradient(112.94deg, #0267ff -66.57%, #d99aff 101.36%);
  }

  .blue-alt-gradient {
    background: linear-gradient(201.69deg, #00d3ad -22.72%, #7003fb 121.76%);
  }

  .green-gradient {
    background: linear-gradient(112.94deg, #02ff86 -66.57%, #9ac8ff 101.36%);
  }

  .yellow-gradient {
    background: linear-gradient(112.94deg, #ff8989 -66.57%, #ffe791 101.36%);
  }

  .pink-gradient {
    background: linear-gradient(112.94deg, #c489ff -66.57%, #ff9191 101.36%);
  }

  /******************************* Top Section PC *********************************/

  .top-container {
    background-image: url(./assets/Top-Background-PC.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 552px;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--section-gap-pc);
  }

  .top-nav-phone {
    display: flex;
    width: 70%;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .top-nav-menu-logo-container {
    display: none;
    margin: 10px;
  }

  .top-nav-logo-container img {
    width: 3.13rem;
    height: 3.13rem;
  }

  .top-nav-menu-logo-container:hover {
    cursor: pointer;
  }

  .top-nav-logo-container {
    margin-left: 5px;
  }

  .hidden {
    display: none !important;
  }

  .top-nav-menu-container {
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: #f8f9fad8;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: var(--title-pc);
    color: var(--font-color-black);
    align-items: center;
    gap: 5rem;
    justify-content: center;
    display: none;
  }

  .top-nav-menu-close {
    position: absolute;
    top: 2%;
    left: 5%;
    color: rgb(252, 58, 58);
  }

  .top-nav-menu-option {
    text-decoration: none;
    color: var(--font-color-black);
  }

  .top-nav-menu-pc {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    font-size: var(--descritpion-pc);
    color: var(--font-color-white);
    font-weight: 600;
    text-decoration: none;
  }

  .top-nav-menu-pc a {
    text-decoration: none;
    color: var(--font-color-white);
    transition: all 0.5s ease-in;
  }

  .top-nav-menu-pc a:hover {
    color: var(--font-color-black);
  }

  /* .top-nav-menu-pc a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .top-nav-menu-pc a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
  }

  .hero-title {
    width: 100%;
    font-size: var(--hero-title-pc);
    color: var(--font-color-white);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-description {
    color: var(--font-color-white);
    text-align: center;
    font-size: var(--hero-description-pc);
    width: 70%;
    margin-bottom: 4rem;
  }

  .hero-btn {
    width: 13.75rem;
    height: 3.125rem;
    border-radius: 50px;
    border: none;
    color: #4d46e2;
    background-color: #fff;
    font-weight: 600;
    font-size: var(--hero-description-pc);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  /******************************* Skills Section PC *********************************/
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--section-gap-pc);
  }

  .skills-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 1rem;
  }

  .skills-buttons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 68px;
    margin-top: 3rem;
  }

  .skills-click {
    font-size: 1rem;
  }
  .skills-buttons-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-btn {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills-btn:hover {
    cursor: pointer;
  }

  .skills-subtitle {
    color: var(--font-color-black);
    font-size: var(--descritpion-pc);
    margin-top: 10px;
  }

  .frontend {
    background: linear-gradient(112.94deg, #0267ff -66.57%, #d99aff 101.36%);
  }

  .frontEndLogo {
    width: 3.625rem;
    height: 2.563rem;
  }

  .software {
    background: linear-gradient(112.94deg, #ff8989 -66.57%, #ffe791 101.36%);
  }

  .backend {
    background: linear-gradient(112.94deg, #02ff86 -66.57%, #9ac8ff 101.36%);
  }

  .dbms {
    background: linear-gradient(112.94deg, #c489ff -66.57%, #ff9191 101.36%);
  }

  .skills-close {
    width: 100%;
    position: relative;
  }

  .skills-display {
    border-radius: 5px;
    min-height: 454px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .skills-display:hover {
    cursor: pointer;
  }

  .skills-display-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    margin: 2rem;
  }

  .skills-logo-container {
    color: var(--font-color-white);
    font-size: 4.5rem;
  }

  .skills-display-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--descritpion-pc);
    margin-bottom: 10px;
    color: var(--font-color-black);
  }

  .skills-display-title {
    text-align: center;
    color: var(--font-color-white);
    font-weight: 600;
    font-size: 3rem;
    margin-top: 1rem;
  }

  .skills-display-subtitle {
    color: var(--font-color-black);
    text-align: center;
    font-size: var(--descritpion-pc);
    margin-top: 0.7rem;
    width: 60%;
  }

  .skills-menu-close {
    position: absolute;
    font-size: 25px;
    color: #fff;
  }

  .skills-display-close {
    color: var(--font-color-black);
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
  }

  /******************************* Projects Section PC *********************************/
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 2.5rem;
  }

  .project-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-gap-phone);
    gap: 7.5rem;
  }

  .project-card-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .project-card-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-card-top {
    width: 100%;
    min-height: 460px;
    border-radius: 5px;
  }

  .project-card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 460px;
    margin-bottom: 0px;
    padding: 10px;
    border-top: 1px rgba(0, 0, 0, 0.25) solid;
    box-shadow: none;
    border-radius: 5px;
  }

  .project-btn {
    display: flex;
    width: 8.313rem;
    height: 2.625rem;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--descritpion-pc);
    font-weight: 600;
  }

  .project-description {
    height: 90%;
    width: 100%;
    font-size: var(--descritpion-pc);
  }

  /******************************* About Section PC *********************************/
  .about-container {
    margin-bottom: var(--section-gap-pc);
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 5rem;
  }

  .about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-display-pic {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
  }

  .about-content-description {
    margin: 5rem 2rem;
    text-align: left;
    font-size: var(--descritpion-pc);
  }

  .about-content-model-frame {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    gap: 1rem;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(210, 210, 210);
  }

  .about-content-model-cover {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    width: 95%;
    color: #0267ff;
    font-weight: 700;
    font-size: var(--descritpion-pc);
    padding: 10px;
    border-top: 1px solid rgb(210, 210, 210);
    height: 30rem;
  }

  .about-content-model-cover-cube {
    color: #0267ff;
    font-weight: 700;
    font-size: 6rem;
  }

  .object-load-button {
    color: var(--font-color-white);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 9.063rem;
    height: 2.5rem;
    font-family: "Montserrat", sans-serif;
  }

  .model-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: red;
    gap: 5px;
  }

  /******************************* Contact Section PC *********************************/

  .contact-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-phone);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 2.5rem;
  }

  .contact-container {
    background-image: url("./assets/Contact-PC.svg");
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
  }

  .contact-content {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    margin-bottom: 36px;
  }

  .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .contact-btn {
    width: 4.688rem;
    height: 4.688rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-btn:hover {
    cursor: pointer;
  }

  .contact-logo {
    width: 3.188rem;
    height: 2.188rem;
  }

  .scroll-button-container {
    color: var(--font-color-white);
    position: relative;
    top: 20%;
    font-size: 2.5rem;
  }
}

/************************************************************ 4K Screen Optimisation ************************************************************************************/

@media (min-width: 1700px) {
  .underglow {
    background-color: #ff048c;
    width: 164px;
    height: 2px;
    margin-top: 10px;
  }

  .blue-gradient {
    background: linear-gradient(112.94deg, #0267ff -66.57%, #d99aff 101.36%);
  }

  .blue-alt-gradient {
    background: linear-gradient(201.69deg, #00d3ad -22.72%, #7003fb 121.76%);
  }

  .green-gradient {
    background: linear-gradient(112.94deg, #02ff86 -66.57%, #9ac8ff 101.36%);
  }

  .yellow-gradient {
    background: linear-gradient(112.94deg, #ff8989 -66.57%, #ffe791 101.36%);
  }

  .pink-gradient {
    background: linear-gradient(112.94deg, #c489ff -66.57%, #ff9191 101.36%);
  }

  /******************************* Top Section 4K *********************************/

  .top-container {
    background-image: url(./assets/Top-Background-4K.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--section-gap-pc);
  }

  .top-nav-phone {
    display: flex;
    width: 60%;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .top-nav-menu-logo-container {
    display: none;
    margin: 10px;
  }

  .top-nav-logo-container img {
    width: 4.13rem;
    height: 4.13rem;
  }

  .top-nav-menu-logo-container:hover {
    cursor: pointer;
  }

  .top-nav-logo-container {
    margin-left: 5px;
  }

  .hidden {
    display: none !important;
  }

  .top-nav-menu-container {
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: #f8f9fad8;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: var(--title-pc);
    color: var(--font-color-black);
    align-items: center;
    gap: 5rem;
    justify-content: center;
    display: none;
  }

  .top-nav-menu-close {
    position: absolute;
    top: 2%;
    left: 5%;
    color: rgb(252, 58, 58);
  }

  .top-nav-menu-option {
    text-decoration: none;
    color: var(--font-color-black);
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
  }

  .hero-title {
    width: 100%;
    font-size: var(--hero-title-pc);
    color: var(--font-color-white);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-description {
    color: var(--font-color-white);
    text-align: center;
    font-size: var(--hero-description-pc);
    width: 70%;
    margin-bottom: 4rem;
  }

  .hero-btn {
    width: 13.75rem;
    height: 3.125rem;
    border-radius: 50px;
    border: none;
    color: #4d46e2;
    background-color: #fff;
    font-weight: 600;
    font-size: var(--hero-description-pc);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  /******************************* Skills Section 4K *********************************/
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--section-gap-4k);
  }

  .skills-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 3rem;
  }

  .skills-buttons {
    max-width: 864px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 68px;
    margin-top: 3rem;
  }

  .skills-buttons-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-btn {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills-btn:hover {
    cursor: pointer;
  }

  .skills-subtitle {
    color: var(--font-color-black);
    font-size: var(--descritpion-pc);
    margin-top: 10px;
  }

  .frontend {
    background: linear-gradient(112.94deg, #0267ff -66.57%, #d99aff 101.36%);
  }

  .frontEndLogo {
    width: 3.625rem;
    height: 2.563rem;
  }

  .software {
    background: linear-gradient(112.94deg, #ff8989 -66.57%, #ffe791 101.36%);
  }

  .backend {
    background: linear-gradient(112.94deg, #02ff86 -66.57%, #9ac8ff 101.36%);
  }

  .dbms {
    background: linear-gradient(112.94deg, #c489ff -66.57%, #ff9191 101.36%);
  }

  .skills-close {
    width: 100%;
    position: relative;
  }

  .skills-display {
    border-radius: 5px;
    min-height: 454px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .skills-display-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    margin: 2rem;
  }

  .skills-logo-container {
    color: var(--font-color-white);
    font-size: 4.5rem;
  }

  .skills-display-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--descritpion-pc);
    margin-bottom: 10px;
    color: var(--font-color-black);
  }

  .skills-display-title {
    text-align: center;
    color: var(--font-color-white);
    font-weight: 600;
    font-size: 3rem;
    margin-top: 1rem;
  }

  .skills-display-subtitle {
    color: var(--font-color-black);
    text-align: center;
    font-size: var(--descritpion-pc);
    margin-top: 0.7rem;
    width: 60%;
  }

  .skills-menu-close {
    position: absolute;
    font-size: 25px;
    color: #fff;
  }

  .skills-display-close {
    color: var(--font-color-black);
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
  }

  /******************************* Projects Section 4K *********************************/
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 2.5rem;
  }

  .project-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-gap-4k);
    gap: 7.5rem;
  }

  .project-card-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 1209px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .project-card-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-card-top {
    width: 100%;
    min-height: 500px;
    border-radius: 5px;
  }

  .project-card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
    margin-bottom: 0px;
    padding: 10px;
    border-top: 1px rgba(0, 0, 0, 0.25) solid;
    box-shadow: none;
    border-radius: 5px;
  }

  .project-btn {
    display: flex;
    width: 8.313rem;
    height: 2.625rem;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--descritpion-pc);
    font-weight: 600;
  }

  .project-description {
    height: 90%;
    width: 100%;
    font-size: var(--descritpion-pc);
  }

  /******************************* About Section 4k *********************************/
  .about-container {
    margin-bottom: var(--section-gap-4k);
    width: 60%;
    max-width: 1036px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 5rem;
  }

  .about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-display-pic {
    width: 20.75rem;
    height: 20.75rem;
    border-radius: 50%;
  }

  .about-content-description {
    margin: 5rem 2rem;
    text-align: left;
    font-size: var(--descritpion-pc);
  }

  .about-content-model-frame {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    gap: 1rem;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(210, 210, 210);
  }

  .about-content-model-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    width: 95%;
    color: #0267ff;
    font-weight: 700;
    font-size: var(--descritpion-pc);
    padding: 10px;
    border-top: 1px solid rgb(210, 210, 210);
    height: 40rem;
  }

  .about-content-model-cover-cube {
    color: #0267ff;
    font-weight: 700;
    font-size: 6rem;
  }

  .object-load-button {
    color: var(--font-color-white);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 9.063rem;
    height: 2.5rem;
    font-family: "Montserrat", sans-serif;
  }

  .model-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: red;
    gap: 5px;
  }

  /******************************* Contact Section Phone *********************************/

  .contact-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: var(--title-phone);
    font-weight: 700;
    color: var(--font-color-black);
    margin-bottom: 2.5rem;
  }

  .contact-container {
    background-image: url("./assets/Contact-4k.svg");
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-content {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: var(--title-pc);
    font-weight: 700;
    margin-bottom: 36px;
  }

  .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .contact-btn {
    width: 4.688rem;
    height: 4.688rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-btn:hover {
    cursor: pointer;
  }

  .contact-logo {
    width: 3.188rem;
    height: 2.188rem;
  }

  .scroll-button-container {
    color: var(--font-color-white);
    position: relative;
    top: 20%;
    font-size: 2.5rem;
  }
}
